@import "mytheme.scss";
@import "addons.scss";


// This file prefixes all rules with the theme name to avoid causing conflicts with other themes.
// The actual styles should be defined in mytheme.scss

.mytheme {
  @include addons;
  @include mytheme;

  font-family: "Lato", sans-serif !important;

  //START CLEANING BAD STYLES
  *{
    outline: none;
  }

  .v-panel{
    border: none;
  }

  .v-verticallayout{
    padding: 0!important;
  }

  .v-Notification, .popupContent {
    font-family: "Lato", sans-serif;
    color: #333333;
  }

  .v-formlayout-captioncell, .v-formlayout-errorcell{
    display: none!important;
  }
  //END CLEANING BAD STYLES

  /*START CLIENT, EMPLOYEE AND REGISTER PANEL*/
  .clientPanel, .employeePanel, .registerPanel{
    padding: 30px;
    border-radius: 8px;
    background: #ffffff;
    box-shadow: 0 0 40px -15px rgba(0, 0, 0, 0.7);

    .v-panel-captionwrap{
      margin-top: 0!important;

      .v-panel-caption{
        border-bottom: 0;
        text-align: center;
        color: #333333;
        box-shadow: none;
        font-size: 30px;
        line-height: 1.3;
        background: transparent;
        text-transform: uppercase;
        font-family: "Lato", sans-serif;
        font-weight: 900;
      }
    }

    .v-filterselect{
      height: auto;
    }

    .v-textfield, .v-filterselect-input{
      border: 1px solid #d8d8d8;
      padding: 15px 10px;
      border-radius: 8px;
      height: auto;

      &:focus{
        border: 1px solid #d8d8d8;
        box-shadow: none;
      }
    }

    .v-button{
      display: block;
      width: 100%;
      margin: 0 auto;
      max-width: 300px;
      border: 1px solid #d8d8d8;
      padding: 15px 10px;
      background: transparent;
      -webkit-transition: all .5s;
      transition: all .5s;
      border-radius: 8px;
      height: auto;
      box-shadow: none;

      &:hover {
        color: #ffffff;
        background: #333333;
      }

      &:focus{
        &:after{
          border: #d8d8d8;
          box-shadow: none;
        }
      }
    }
  }
  /*END CLIENT, EMPLOYEE AND REGISTER PANEL*/

  /*START MAIN MENU, CLIENT MENU AND EMPLOYEE MENU NAVIGATION PANEL*/
  .mainMenuPanel, .employeeMenuPanel, .clientMenuPanel {
    padding-top: 0!important;

    .v-panel-captionwrap{
      margin-top: 0!important;

      .v-panel-caption{
        border-bottom: 0;
        box-shadow: none;
        width: 100%;
        background: #333333;
        padding: 15px 10px;
        margin-bottom: 0;
        border-radius: 8px 8px 0 0;
        font-size: 16px;
        color: #ffffff;
        line-height: 1.3;
        text-align: center;
        text-transform: uppercase;
        font-family: "Lato", sans-serif;
        font-weight: 500;
      }
    }

    .v-slot{
      & + .v-slot{
        border-top: 1px solid #d8d8d8;
      }
    }

    .v-button{
      display: block;
      width: 100%;
      margin: 0 auto;
      border: none;
      -webkit-transition: all .5s;
      transition: all .5s;
      height: auto;
      box-shadow: none;
      padding: 15px 10px;
      font-size: 14px;
      background: #ffffff;
      text-transform: uppercase;
      font-weight: 500;
      text-align: center;
      color: #333333;

      &:hover {
        background: #ffe52e;
      }

      &:focus{
        &:after{
          border: none;
          box-shadow: none;
        }
      }
    }
  }

  .employeeMenuPanel, .clientMenuPanel{
    .v-panel-captionwrap{
      .v-panel-caption{
        padding: 10px;
        font-size: 14px;
      }
    }

    .v-button{
      padding: 10px;
      font-size: 12px;
    }
  }
  /*END MAIN MENU, CLIENT MENU AND EMPLOYEE MENU NAVIGATION PANEL*/

  //START DATA LIST HOLDER
  .dataListHolder{
    padding: 30px !important;

    .v-panel-captionwrap{
      margin-top: 0!important;

      .v-panel-caption{
        border-bottom: 0;
        box-shadow: none;
        width: 100%;
        background: transparent;
        padding: 15px 10px;
        margin-bottom: 30px;
        font-size: 30px;
        color: #333333;
        line-height: 1.3;
        text-align: center;
        text-transform: uppercase;
        font-family: "Lato", sans-serif;
        font-weight: 900;
      }
    }

    .v-grid-tablewrapper{
      border: 0;
      background: white;

      table{
        thead{
          tr{
            th{
              background: #d6d6d6;
              padding: 10px;
              vertical-align: middle;
              color: #333333;
              font-family: "Lato", sans-serif;
              font-size: 13px;
              text-align: center;
              line-height: 1.2;
              height: 33px !important;

              &:first-child {
                border-radius: 8px 0 0 0;
              }

              &:last-child {
                border-radius: 0 8px 0 0;
              }

              .v-grid-column-header-content{
                line-height: 1.2;
              }
            }
          }
        }

        tbody{
          tr{
            &:nth-child(odd) td {
              background: #efefef;
            }

            &:nth-child(even) td {
              background: #ffffff;
            }

            &:last-of-type{
              td:first-child {
                border-radius: 0 0 0 8px;
              }

              td:last-child {
                border-radius: 0 0 8px 0;
              }
            }

            td{
              padding: 10px;
              vertical-align: middle;
              color: #333333;
              font-family: "Lato", sans-serif;
              font-size: 11px;
              text-align: center;
              border: 0;
              line-height: 1.2;
              height: 31px!important;
              border-right: 1px solid #d8d8d8;

              &:last-child {
                border-right: 0;
              }
            }
          }
        }
      }
    }

    .v-filterselect{
      height: auto;
    }

    .v-caption{
      padding: 0;
      margin: 5px 0;
    }

    .v-textfield, .v-filterselect-input{
      border: 1px solid #d8d8d8;
      padding: 15px 10px;
      border-radius: 8px;
      height: auto;

      &:focus{
        border: 1px solid #d8d8d8;
        box-shadow: none;
      }
    }

    .v-button{
      display: block;
      width: 100%;
      margin: 0 auto;
      max-width: 300px;
      border: 1px solid #d8d8d8;
      padding: 15px 10px;
      background: transparent;
      -webkit-transition: all .5s;
      transition: all .5s;
      border-radius: 8px;
      height: auto;
      box-shadow: none;

      &:hover {
        color: #ffffff;
        background: #333333;
      }

      &:focus{
        &:after{
          border: #d8d8d8;
          box-shadow: none;
        }
      }
    }
  }
  //END DATA LIST HOLDER

  //START TABS HEADER HOLDER
  .tabsHeader{

    .v-tabsheet-tabcontainer{
      &:before{
        content: none;
      }
    }

    table.v-tabsheet-tabs{
      display: block;
      border-radius: 8px 8px 0 0;
      border-bottom: 0;
      margin-bottom: 20px;

      tbody{
        width: 100%;
      }

      tr{
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
      }

      td{
        width: 100%;

        &.v-tabsheet-tabitemcell-selected{
          .v-caption{
            background: #333333;
            color: #ffffff;
            border-color: #d8d8d8;
          }
        }

        &:first-of-type .v-caption {
          border-radius: 8px 0 0 8px;
        }

        &:nth-last-child(2) .v-caption {
          border-radius: 0 8px 8px 0;
        }

        & + td .v-caption {
          border-left: 0;
        }

        .v-caption{
          display: block;
          text-align: center;
          -webkit-transition: all .5s;
          transition: all .5s;
          border-radius: 0;
          border: 1px solid #d8d8d8;
          margin: 0;
          color: #333333;
          padding: 10px 15px;
        }
      }
    }

  }
  //END TABS HEADER HOLDER
}
