@import "mytheme.scss";
@import "addons.scss";


// This file prefixes all rules with the theme name to avoid causing conflicts with other themes.
// The actual styles should be defined in mytheme.scss

.mytheme {
  @include addons;
  @include mytheme;



  font-family: "Lato", sans-serif;

  //START CLEANING BAD STYLES
  *{
    outline: none;
  }

  .v-verticallayout{
    padding: 0!important;
  }

  .v-Notification, .popupContent {
    font-family: "Lato", sans-serif;
    color: #333333;
  }

  .v-formlayout-captioncell, .v-formlayout-errorcell{
    display: none!important;
  }
  //END CLEANING BAD STYLES

  /*START CLIENT, EMPLOYEE AND REGISTER PANEL*/
  .clientPanel, .employeePanel, .registerPanel{
    padding: 30px;
    border-radius: 8px;
    background: #ffffff;
    box-shadow: 0 0 40px -15px rgba(0, 0, 0, 0.7);

    .v-panel-captionwrap{
      margin-top: 0!important;

      .v-panel-caption{
        border-bottom: 0;
        text-align: center;
        color: #333333;
        box-shadow: none;
        font-size: 30px;
        background: transparent;
        text-transform: uppercase;
        font-family: "Lato", sans-serif;
        font-weight: 900;
      }
    }

    .v-textfield{
      border: 1px solid #d8d8d8;
      padding: 15px 10px;
      border-radius: 8px;
      height: auto;

      &:focus{
        border: 1px solid #d8d8d8;
        box-shadow: none;
      }
    }

    .v-button{
      display: block;
      width: 100%;
      margin: 0 auto;
      max-width: 300px;
      border: 1px solid #d8d8d8;
      padding: 15px 10px;
      background: transparent;
      -webkit-transition: all .5s;
      transition: all .5s;
      border-radius: 8px;
      height: auto;

      &:hover {
        color: #ffffff;
        background: #333333;
      }

      &:focus{
        &:after{
          border: none;
        }
      }
    }
  }
  /*END CLIENT, EMPLOYEE AND REGISTER PANEL*/
}
